body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
}

nav ul li, footer ul li {
    display: inline;
    font-size: 30px;
    
    margin-right: 20px;
}
nav ul li {

    color: black;
    background-color: aqua;
    font-family: cursive;
}

footer ul li {
    color: black;
}
a {
    text-decoration: underline;
    color: #CFB53B;
}
a:hover {
    text-decoration: underline;
}


footer {
    bottom: 0;
    position: absolute;
    background-color: gray;
   /* border-top: 1px solid #d5d5d5;*/
    /*font-size: .8em;*/

}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
