<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul style="color: #CFB53B">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Profile">Profile</a></li>
				<li><a href="/Problems">Problems</a></li>
	        		<li><a href="/Create">Create Problem</a></li>
	    			<li><a href="/about">About Us</a></li>
			</ul>
			</nav>
		<!--	<div class="container"> -->
			
			{{ content }}
			
<!--			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ramakrir@purdue.edu">email</a></li>
			</ul>
			<div></div>
			</footer>
		</body>
	</html>
