<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
			body {background-color:white}
		 	{color:green}
			</style>
		</head>
		<body>
			<nav>
	    		<ul style = "background-color: yellow; color: blue">
	        		<li style = "font-size: 20px; color: blue"><a href="/">Home</a></li>
		        	<li style = "font-size: 20px; color: blue"><a href="/Profile">Profile</a></li>
				<li style = "font-size: 20px; color: blue"><a href="/Problems">Problems</a></li>
	        		<li style = "font-size: 20px; color: blue"><a href="/Create">Create Problem</a></li>
	    			<li style = "font-size: 20px; color: blue"><a href="/about">About Us</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ramakrir@purdue.edu">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
